<%= form_with(model: tweet, local: true) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="py-4">
    <%= form.label :content ,"Contenido"%>
    <%= form.text_area(:content , cols: 29, rows: 5, class:"form-control-edit")%>
  </div>

  <div class="actions">
    <%= form.submit "Actualizar Tweet", class:"btn btn-blue btn-block mt-3" %>
  </div>
<% end %>
