<p id="notice"><%= notice %></p>

<h2 class="py-3">Tweet</h2>
<label>Contenido:</label>

<p class="card-show">
  
  <%= @tweet.content %>
</p>

<p>
  <label>Usuario:</label>
  <%= current_user %>
</p>


<p class="date text-blue-dark"><small class="pr-2 date text-blue-dark">Tu post tiene</small><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<!-- 
<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
-->
<% if @tweet.likes.count > 0 %>
<strong> Usuarios que le gusta este tweet</strong>
<%end%>
<br>
<% @tweet.likes.each do |tweet| %>
<div class="d-inline-block text-center">
  <p class="mt-4"><%= image_tag(tweet.user.profile_pic, size: '64') %></p>
  <small class="px-4"><%= tweet.user %></small>
</div>
<% end %>
