<!DOCTYPE html>
<html>
  <head>
    <title>Tuiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# iconos %>
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <%# bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg bg-black-dark mb-5">
  <div class="container">
  <%= link_to "Tuitter", root_path, class:"navbar-brand font-fredoka logo text-blue-light mr-5"%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav font-pop ">
    <%= link_to root_path, class:"nav-link" do %>
    <span><i class="lni lni-home mr-2"></i>Home</span>
    <%end%>
    <% if signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class:"nav-link" do%>
      <span><i class="lni lni-exit mr-2"></i></i>Log out</span>
      <%end%>
       <%else%>
      <%= link_to new_user_session_path, class:"nav-link" do%>
      <span><i class="lni lni-enter mr-2"></i>Log in</span>
      <%end%>
      <%= link_to new_user_registration_path, class:"nav-link" do%>
      <span><i class="lni lni-users mr-2"></i>Sign up</span>
      <%end%>
    <%end%> 
    
    </div>
      <%= link_to "Crea un Tweet!",root_path,  class:"btn btn-blue ml-auto" %>
    
  </div>
  </div>
</nav>
<div class="container mt-2">
<% if flash[:notice]%>
          <div class="col-12 alert alert-primary text-center">
          <p class="notice my-auto"><i class="lni lni-checkmark-circle mr-4"></i><%= notice %> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
          
          </div> 
        <%end%>
        <% if flash[:alert]%>
          <div class="col-12 alert alert-primary text-center">
        <p class="alert my-auto"><i class="lni lni-warning mr-4"></i><%= alert %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
          
        </div> 
<%end%>
</div>
<div class="container d-flex center-div">
  <div class="row">
  <div class="col"></div>
      <div class="col-10 mt-5"><%= yield %></div>
  <div class="col"></div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
