<!DOCTYPE html>
<html>
  <head>
    <title>Tuiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# iconos %>
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
    <%# bootstrap %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container">
  <a class="navbar-brand" href="#">Tuiter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
    <% if signed_in? %>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class:"nav-link" %>
       <%else%>
      <%= link_to "log in", new_user_session_path, class:"nav-link" %>
      <%= link_to "Sign up", new_user_registration_path, class:"nav-link" %>
    <%end%> 
    </div>
  </div>
  </div>
</nav>

<div class="container">
  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p>

  
    <%= yield %>
  </div>



  </body>
</html>
